@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden1{
    opacity: 0;
    transition: all 1s;
}

.show1{
    opacity: 1;
}

a.active {
    font-weight: bold;
}

.sideBarLink.active {
    background: rgba(0,0,0,0.4);
}

/*format ordinateur*/

.slider {
    height: 400px;
    margin: auto;
    position: relative;
    width: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.slide-track {
    display: flex;
    width: calc(400px * 10);
    animation: slider 35s linear infinite;
}

@keyframes slider {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-400px * 5));
    }
}

.slide {
    height: 300px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
}

img {
    object-fit: contain;
}



/*format tablette*/

@media (max-width: 1280px) {
    .slider {
        height: 350px;
        margin: auto;
        position: relative;
        width: 100%;
        display: grid;
        place-items: center;
        overflow: hidden;
    }
}

@media (max-width: 1280px) {
    .slide-track {
        display: flex;
        width: calc(300px * 10);
        animation: slider 40s linear infinite;
    }
}

@media (max-width: 1280px) {
    @keyframes slider {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-300px * 5));
        }
    }
}

@media (max-width: 1280px) {
    .slide {
        height: 200px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 15px;
    }
}

@media (max-width: 1280px) {
    img {
        object-fit: contain;
    }
}

/*format grand téléhpone*/

@media (max-width: 768px) {
    .slider {
        height: 250px;
        margin: auto;
        position: relative;
        width: 100%;
        display: grid;
        place-items: center;
        overflow: hidden;
    }
}

@media (max-width: 768px) {
    .slide-track {
        display: flex;
        width: calc(250px * 10);
        animation: slider 40s linear infinite;
    }
}

@media (max-width: 768px) {
    @keyframes slider {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-250px * 5));
        }
    }
}

@media (max-width: 768px) {
    .slide {
        height: 150px;
        width: 250px;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 15px;
    }
}

@media (max-width: 768px) {
    img {
        object-fit: contain;
    }
}

/*format téléphone*/

@media (max-width: 640px) {
    .slider {
        height: 250px;
        margin: auto;
        position: relative;
        width: 100%;
        display: grid;
        place-items: center;
        overflow: hidden;
    }
}

@media (max-width: 640px) {
    .slide-track {
        display: flex;
        width: calc(150px * 10);
        animation: slider 40s linear infinite;
    }
}

@media (max-width: 640px) {
    @keyframes slider {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-150px * 5));
        }
    }
}

@media (max-width: 640px) {
    .slide {
        height: 125px;
        width: 150px;
        display: flex;
        justify-content: center;
        align-content: center;
        padding: 15px;
    }
}

@media (max-width: 640px) {
    img {
        object-fit: contain;
    }
}


.iframe-wrapper {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.iframe-wrapper iframe {
    width: 100vw;
    height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
    min-height: 100vh;
    min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


